

/* styles */
img {
    /*max-width:100%;*/
    /*max-height:100%;*/
}

.shop {
	position: relative;
	max-width: 1300px; /* 1260 */
	margin: 0 auto;
    padding: 0;
	height: 100%;
}
.rel-ratio {
	padding-top: 63%;
	height: 0;
}
.rel-content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.wrap{
    /*background-color: #5bc0de;*/
    width: 100%;
    height: 100%;
    /*max-width: 1300px; !* 1260 *!*/
    /*max-height: 820px;*/
    /*margin: 0 auto;*/

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}
.banner-group {
    /*background-color: #fee541;*/
    flex-basis: 31%;
    /*max-height: 400px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.long {
    /*max-height: 820px;*/

    flex-basis: 35%;
}

/* positions */
@media (max-width:772px) and (min-width:401px) {
    .rel-ratio {
        padding-top: 123%;
        height: 0;
    }
    .wrap{
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }
	.long {
        /*flex-basis: 100%;*/
        width: 69%;
        height: 100%;
        max-height: 100%;
	}
    .long img {
        /*flex-basis: 100%;*/
        width: 100%;
        height: 100%;
    }
    .banner-group {
        order: 2;
        flex-basis: 49%;
        width: 29%;
    }
}

@media (max-width: 400px) {
    .rel-ratio {
        padding-top: 0;
        height: 100%;
    }
    .wrap{
        /*background-color: #bd4147;*/
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;

    }
    img {
        margin-bottom: 10px;
    }
    .banner-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        flex-basis: 100%;
        /*order: 2;*/
    }
    .long {
        flex-shrink: 0;
        flex-basis: 100%;
        order: -1;
    }
}