body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td,menu{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,abbr{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ul li,menu li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

/* styles */
.wrap{
	max-width: 960px;
	margin: 0 auto;
	height: 100%;
	padding: 0 5px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section.profit{
	background: #232324;
	padding: 15px 0;
}

section.profit .item{
	border: 3px solid #fff;
	text-align: center;
	background: #fff;
	margin: 5px;
	display: flex;
	flex-basis: 400px;
	flex-wrap: wrap;
}

section.profit .item .img {

	flex-basis: 100px;
	flex-grow: 1;
}

section.profit .item .text{
	flex-basis: 280px;
	padding: 0 10px;
	flex-grow: 3;
	text-align: left;
	font-style: italic;

}
section.profit .item .img img{
	max-width: 100%;
}

/* positions */
@media (max-width: 840px) {
	section.profit .item:nth-child(even) {
		flex-direction: row-reverse;
	}
}